<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="tecbem" value="https://pkgs.dev.azure.com/tecbem/_packaging/tecbem/nuget/v3/index.json" />
  </packageSources>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSourceCredentials>
    <tecbem>
        <add key="UserName" value="thiago.sonza@bempromotora.onmicrosoft.com" />
        <add key="ClearTextPassword" value="ads73dfmya4ub2a2dnjq2gtrdonry2vcjulzpscjmyk3whkeygfa" />
      </tecbem>
  </packageSourceCredentials>
</configuration> 